# SQLite Database
DATABASE_URL=sqlite:///./retail.db

# JWT Secret Key
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP Configuration (for OTP Emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_gmail_address@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_FROM_EMAIL=your_gmail_address@gmail.com
SMTP_FROM_NAME="ShubhLabh Analytics"
